n8n_workflows/error_notification_workflow.json
{
  "name": "Calvados Workflow Error Notifications",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json || {};\nconst execution = payload.execution || {};\nconst workflow = payload.workflow || {};\nconst message = payload.error?.message || 'Unknown workflow error';\nreturn [{\n  json: {\n    text: `Calvados n8n error\\nWorkflow: ${workflow.name || workflow.id || 'unknown'}\\nExecution: ${execution.id || 'n/a'}\\nMessage: ${message}`,\n    raw: payload,\n  }\n}];"
      },
      "id": "2",
      "name": "Build Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ERROR_NOTIFY_WEBHOOK || $env.N8N_ERROR_WEBHOOK || ''}}",
        "method": "POST",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "={{$json}}"
      },
      "id": "3",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Build Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
